{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Cápitan América</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, eligendi inventore facere quidem totam iure, cum necessitatibus rem fugit quos accusamus voluptates odit at vero quod deleniti sequi, amet maiores?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/capitan-america.png" class="img-thumbnail" alt="">
    </div>
</div>
{{> footer}}