{{> head}}
    {{> navbar}}
    <div class="jumbotron">
        <h1 class="display-4">Hello, {{ capitalizar nombre}}!</h1>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero labore quis illum dicta veniam
            sed incidunt, quas ea tenetur ullam magnam, iure et quo aliquid quos impedit repellat earum sapiente.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae officia quasi dolore, eveniet distinctio,
            facilis impedit corrupti possimus, similique accusamus voluptate aliquam quo eum libero et ea saepe vitae
            animi?</p>
        <p class="lead">
            <a class="btn btn-prmary btn-lg" role="button" href="#">Learn more</a>
        </p>
    </div>
{{> footer}}